.header {
	background-color: #073042;
	height: 74px;
	max-width: 1140px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 70px;
}

.header_type_light {
	background-color: #FFF;
}

.header__logo {
	background-image: url(../../images/logo.svg);
	width: 38px;
	height: 38px;
	background-repeat: no-repeat;
	background-size: contain;
}

.header__links-authorization {
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: .5s ease;
}

.header__links-authorization:hover {
	opacity: .7;
}

.header__navbar {
	margin: 0 0 0 44px;
	display: flex;
	margin-right: auto;
}

.header__links-navbar {
	list-style-type: none;
	padding: 0;
	display: flex;
	margin: 0;
}

.header__link-navbar {
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	margin: 0 16px 0 0;
	text-decoration: none;
	color: #000;
	transition: .5s ease;
}

.header__link-navbar:hover {
	opacity: .7;
}

.header__link-navbar_active {
	font-weight: 500;
}

.header__link {
	font-size: 12px;
	font-weight: 500;
	line-height: 16px;
	margin: 0;
}

.header__button-login {
	height: 32px;
	width: 76px;
	background-color: #2BE080;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 30px;
}

.header__link_type_register {
	color: #FFF;
}

.header__link_type_account {
	font-size: 14px;
	font-weight: 500;
	line-height: 16px;
}

.header__button-account {
	background-image: url(../../images/account-icon.svg);
	width: 12px;
	height: 14px;
	background-repeat: no-repeat;
	margin-left: 24px;
	outline: 0;
	border: 0;
	padding: 0;
	background-color: #FFF;
	cursor: pointer;
}

@media screen and (max-width: 1000px) {
	.header {
		padding: 0 30px;
	}
}

@media screen and (max-width: 800px) {
  .header__link {
		font-size: 10px;
  }

	.header__button-login {
		margin-left: 14px;
		height: 26px;
		width: 54px;
	}

	.header {
		padding: 0 14px;
	}
}
