.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.register__container {
  min-height: calc(100vh - 140px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.register__link {
  display: block;
  cursor: pointer;
  transition: .5s ease;
  width: 38px;
}

.register__link:hover {
  opacity: .7;
}

.register__logo {
  background-image: url(../../images/logo.svg);
  width: 38px;
  min-height: 38px;
  background-repeat: no-repeat;
}

.register__title {
  margin: 10px 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}

@media screen and (max-width: 800px) {
  .register {
    padding: 0 30px;
  }

  .register__container {
    min-height: calc(100vh - 464px);
  }

  .register__title {
    margin: 4vh 0;
  }
}

@media screen and (max-width: 500px) {
  .register {
    padding: 0 30px;
    min-height: 100vh;
  }

  .register__container {
    align-items: center;
    width: 100%;
  }

  .register__logo {
    margin-top: 3.5vh;
  }

  .register__title {
    margin: 6.35vh 0 10.65vh;
    text-align: center;
  }
}
