.register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register__container {
  margin-top: 70px;
}

.register__link {
  display: block;
  cursor: pointer;
  transition: .5s ease;
  width: 38px;
}

.register__link:hover {
  opacity: .7;
}

.register__logo {
  background-image: url(../../images/logo.svg);
  width: 38px;
  height: 38px;
  background-repeat: no-repeat;
}

.register__title {
  margin: 40px 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}

@media screen and (max-width: 800px) {
  .register {
    min-height: 77.3vh;
    padding: 0 30px;
  }

  .register__container {
    margin-top: 232px;
  }
}

@media screen and (max-width: 500px) {
  .register {
    padding: 0 30px;
    min-height: 100vh;
  }

  .register__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 56px;
    width: 100%;
  }

  .register__title {
    margin: 50px 0 80px;
    text-align: center;
  }
}
