.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.login__container {
  min-height: calc(100vh - 140px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login__link {
  display: block;
  cursor: pointer;
  transition: .5s ease;
  width: 38px;
}

.login__link:hover {
  opacity: .7;
}

.login__logo {
  background-image: url(../../images/logo-main.svg);
  width: 38px;
  min-height: 38px;
  background-repeat: no-repeat;
}

.login__title {
  margin: 10px 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}

@media screen and (max-width: 800px) {
  .login {
    padding: 0 30px;
  }

  .login__container {
    min-height: calc(100vh - 464px);
  }

  .login__title {
    margin: 4vh 0;
  }
}

@media screen and (max-width: 500px) {
  .login {
    padding: 0 30px;
    min-height: 100vh;
  }
  
  .login__container {
    align-items: center;
    width: 100%;
  }

  .login__logo {
    margin-top: 25px;
  }

  .login__title {
    margin: 50px 0 82px;
    text-align: center;
  }
}
